:root{
    --main-color: rgb(51, 25, 0);
    --main-font: 'Permanent Marker', cursive;
}

.gameContainer{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.gameBoard{
    width: 70%;
    height: 80%;
    border-radius: 20px;
    border: 10px solid black;
    background-color: #00b396;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameBoard>img:first-of-type{
    position: absolute;
    width: 200px;
    left: 20%;
    top: 0%;
    z-index: -2;
    transition: 1s ease-in-out;
}

.gameBoard>img:nth-of-type(2){
    position: absolute;
    width: 200px;
    right: 20%;
    top: 0%;
    z-index: -2;
    transition: 1s ease-in-out;
}

.gameBoard button{
    margin-top: 40px;
}

.gamePanel{
    box-sizing: border-box;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: #ffae42;
}

.gamePanel:hover{
    background-color: #fdf5e6;
}

.gamePanel img{
    width: 80%;
    pointer-events: none;
}

#turnLabel{
    font-family: var(--main-font);
    font-size: 5rem;
    color: #001818;
}



.formContainer{
    position: fixed;
    background: linear-gradient(60deg, #00B2B3 50%, #FF8E9C 50%);
    width: 80%;
    height: 80%;
    display: grid;
    border-radius: 20px;
    border: 10px solid #444444;  
}

#player1Form, #player2Form{
    
    padding: 0;
}

.formContainer li{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.formContainer h1{
    font-family: var(--main-font);
    grid-column: 1 / -1;
    font-size: 2em;
    color: var(--main-color);
}

p{
    font-family: var(--main-font) ;
    color: var(--main-color);
    font-size: 1.8em;
    margin: 0;
    text-align: center;
    justify-self: start;
}

form{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    overflow: hidden;
    z-index: 2;
}

button{
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    width: 200px;
    height: 70px;
    margin-bottom: 80px;
    grid-column: 1 /-1;
    cursor: pointer;
    flex-shrink: 0;
    font-family: var(--main-font);
    font-size: 2rem;
    color: #980036;
}

button:hover{
    background-color: #FFA7B4;
}

label img{
    pointer-events: none;
    width: 50px;
    height: 50px;
    padding: 5px;
}

fieldset{
    border: none;
    margin-top: 30px;
}

#avatarPicker{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

#avatarPicker2{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

#avatarPicker2 input[type="radio"], #avatarPicker input[type="radio"]{
    cursor: pointer;
    position:absolute;
    opacity: 0;
    top: 0%;
    width: 50px;
    height: 50px;
}

#player2, #player1{
    cursor: pointer;
    position: absolute;
    bottom: -50%;
    z-index: 9;
    width: 100px;
    height: 100px;
    opacity: 0;
}


#player2:checked + #secondPlayerLabel  {
    border-bottom: 20px solid #383838;
}

#player1:checked + #firstPlayerLabel{
    border-bottom: 20px solid #383838;
}

#firstPlayerStartFirst{
    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    margin-top: 30px;
}

#firstPlayerLabel, #secondPlayerLabel{
    
    margin-top: 10px;
    background-color: #ebebeb ;
    display: inline-block;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(114, 114, 114)
    
}

#firstPlayerLabel p, #secondPlayerLabel p{
    font-size: 1.2rem;
    text-align: center; 
}

input:checked ~ img{
    border: 1px solid var(--main-color);
    display: block;
}


label, fieldset{
    position: relative;
    margin-top: 10%;
    font-size: 1.3rem;
}

.orangeText{
    color: #00B2B3;
    font-size: 1.2em;
}

input[type="text"]{
    appearance: none;
    -webkit-appearance: none;
    width: 60%;
    height: 40px;
    margin-top: 20px;
    font-size: 1.3rem;
    background-color: #fffff0;
    border: 1px solid black;
}

.cuteIcons{
    position: fixed;
    right: -8%;
    z-index: -1;
    transform: rotate(20deg); 
}

.cuteIcons img, .cuteIcons2 img{
    width: 60%;
    
}

.cuteIcons2{
    position: fixed;
    left: 2%;
    bottom: 20%;
    z-index: -1;
    transform: rotate(-24deg); 
}

.cuteIcons2:hover{
    transform: translate(0,-10px);
}

body{
    position: relative;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
}
a{
    position: relative;
    bottom: -5%;
    right: -30%;
    font-size: 0.5rem;
    color: #001818;
}