:root{
    --main-color: rgb(51, 25, 0);
    --main-font: 'Permanent Marker', cursive;
}

.gameContainer{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.gamePanel{
    box-sizing: border-box;
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.form{
    position: fixed;
    background: linear-gradient(60deg, #00B2B3 50%, #FF8E9C 50%);
    width: 80%;
    height: 80%;
    display: grid;
}

#player1Form, #player2Form{
    
    padding: 0;
}

.form li{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.form h1{
    font-family: var(--main-font);
    grid-column: 1 / -1;
    font-size: 2em;
    color: var(--main-color);
}

p{
    font-family: var(--main-font) ;
    color: var(--main-color);
    font-size: 1.8em;
    margin: 0;
    text-align: center;
    justify-self: start;
}

form{
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

label, option, input, select{
    font-family: var(--main-font);
}

label{
    margin-top: 10%;
}

.orangeText{
    color: #00B2B3;
    font-size: 1.2em;
}

input, option, select{
    width: 60%;
    height: 30px;
}



body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}